/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	color: #494949;
}

strong { font-weight: 700 !important; }
        

/*ANIMATIONS*/
.pageFade-enter-active,
.pageFade-leave-active {
  transition-duration: 2.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.pageFade-enter,
.pageFade-leave-active {
  opacity: 0
}

.menuFade-enter-active,
.menuFade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.menuFade-enter,
.menuFade-leave-active {
  opacity: 0
}

.inner {
  width: 68%;
  max-width: 1200px;
  margin: 0 auto;
}
  

/*HELPERS*/
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.block-center {
  display: block !important;
  margin: 0 auto !important;
}

.margin-bottom-10 { margin-bottom: 10px; }

/*ROW/COLS*/
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }

.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }

/*BUTTON*/
button {
  color: #f3f0e8;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 20px;
  margin-right: 20px;
  height: 50px;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
button.green {
  background-color: #9cbca5;
  border: 2px solid #9cbca5;
}
button.red {
  background-color: #b85459;
  border: 2px solid #b85459;
}
button.yellow {
  background-color: #e8b67c;
  border: 2px solid #e8b67c;
}
button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #9cbca5;
}
button.ghost {
  background-color: transparent;
  border: 2px solid #9cbca5;
  color: #9cbca5;
}
button.ghost:hover {
  background-color: #fff;
  border-color: #fff;
  color: #9cbca5;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #2a1c2d;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-size: 16px;
  font-weight: 300;
  color: #2a1c2d;
  font-family: 'Montserrat', sans-serif;
}
